@use 'sass-utils' as *;

.std-image-text {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;

  @include below($md) {
    grid-template-columns: none;
  }

  img {
    display: block;
  }

  &.std-order--reverse {
    .std-image-text__image {
      @include above($md) {
        order: 1;
      }
    }
  }

  &.std-valign--center {
    align-items: center;
  }
}
