.std-bgcolor--white {
  background: #ffffff;
}

.std-bgcolor--light-gray {
  background: #f0f0f0;
}

.std-bgcolor--dark-gray {
  background: #808080;
  color: #ffffff;
}

.std-bgcolor--black {
  background: #000000;
  color: #ffffff;
}
