<div{{ attributes.addClass('std-image-text') }}>
  <div class="std-image-text__image">
    {{ content.field_std_image }}
  </div>
  <div class="std-image-text__text">
    {{ content.field_std_text }}
  </div>
</div>
