<div{{ attributes.addClass('std-banner') }}>
  <div class="std-banner__image">
    {{ content.field_std_image }}
  </div>
  <div class="std-banner__overlay"></div>
  <div class="std-wrapper">
    <div class="std-banner__text">
      {{ content.field_std_text }}
    </div>
  </div>
</div>
