<div{{ attributes.addClass('std-slideshow') }}>
  <div class="std-wrapper">
    <div class="swiper">
      <div class="swiper-wrapper">
        {{ content.field_std_items }}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>
