<div{{ attributes.addClass('std-image-text-grid__item') }}>
  <div class="std-image-text-grid__image">
    {{ content.field_std_image }}
  </div>
  <div class="std-image-text-grid__text">
    {{ content.field_std_text }}
  </div>
</div>
