.std-banner {
  position: relative;
  padding: 30px 0;
}

.std-banner__image {
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
  }
}

.std-banner__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: rgb(0 0 0 / 50%);
}

.std-banner__text {
  position: relative;
  color: white;
  text-align: center;
}
